<div class="card">
  <div class="card-body">
    <p>Welcome to the board game tracker app!</p>
    <p>Have too many board games? Can't remember how to play that game from last Christmas? Forgot just how much you liked that
      game you played six months ago? This site is the perfect tool for managing your board game collection. Thanks for stopping by -
      we hope you enjoy our site!</p>
  </div>
</div>

<div class="container-fluid">
  <div style="margin:30px" align="center">
    <img src="kingsburg.jpg" style="height: 275px"></img>
    <img src="chinatown.jpg" style="height: 275px"></img>
    <img src="7wonders.jpg" style="height: 275px"></img>
  </div>
  <div style="margin:5px" align="center">
    <img src="istanbul.jpg" style="height: 275px"></img>
    <img src="azul.jpg" style="height: 275px"></img>
    <img src="powergrid.jpg" style="height: 275px"></img>
  </div>
</div>
