<div class="card">
  <div class="card-body">
    <p>Welcome to the board game tracker app!</p>
    <p>Specialized app to track all of your board games, including ratings, video tutorials, and play logging.</p>
  </div>
</div>

<div class="container-fluid">
  <div style="margin:30px" align="center">
    <img src="kingsburg.jpg" style="height: 275px"></img>
    <img src="chinatown.jpg" style="height: 275px"></img>
    <img src="7wonders.jpg" style="height: 275px"></img>
  </div>
  <div style="margin:5px" align="center">
    <img src="istanbul.jpg" style="height: 275px"></img>
    <img src="azul.jpg" style="height: 275px"></img>
    <img src="powergrid.jpg" style="height: 275px"></img>
  </div>
</div>
