<div class="container" id="import">
    <div class="col-md-12"><h3>Import a Game from BoardGameGeek.com</h3><br></div>
    <div class="col-md-6" id="new-game" aria-labelledby="game">
        <form action="/search_import_game" method="post">
            Enter search terms below<br>
            <input type="search" size="50" class="form-control" name="gamesearch" id="gamesearch" placeholder=" search" required>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="col-md-"></br>or</br><br></div>
    <div class="col-md-6" id="import-game" aria-labelledby="game 2">
        <form action="/import_game_id" method="post">
            Enter the BGG Bame ID<br>
            <input type="search" size="6" class="form-control" name="gameid" id="gameid" placeholder="enter game id" required>
            <button type="submit" class="btn btn-primary">Import</button>
        </form>
    </div>
</div>
