<div class="container" id="additions">
    <div><h3>Import a Game from BoardGameGeek.com</h3><br></div>
    <div id="new-game" aria-labelledby="game" >
        Enter search terms below to find all matching games in the world's largest board game database, provided by
        BoardGameGeek.com.<br><br>
        <form action="/importgame" method="post">
            <div class="form-group col-md-6">
                <input type="search" size="6" class="form-control" name="gamesearch" id="gamesearch" placeholder="enter search terms">
                <input type="submit" value="Search" class="btn btn-primary">
            </div>        
        </form>
    </div>
</div>

<div class="container" id="additions">
    <div><h3>Import a Game from BoardGameGeek.com</h3><br></div>
    <div id="new-game" aria-labelledby="game" >
        BGG Bame ID<br><br>
        <form action="/import_game_id" method="post">
            <div class="form-group col-md-2">
                <input type="search" size="6" class="form-control" name="gameid" id="gameid" placeholder="enter game id">
                <input type="submit" value="Import" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

<div class="container" id="search games">
    <table class="table table-striped">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Add</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Chinatown</td>
            <td>1999</td>
            <td><a href="/viewgame?gid=2" onclick="return confirm('Are you sure you want to add this to your library?')">Import</a></td>
        </tr>
    </tbody>
</div>